<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>DepartmentList</title>
</head>
<body>
<th:bock th:insert="Header.html"></th:bock>
	<div class="container_fluid">
		<div class="card">
			<div class="card-header">
				<h1>Department List</h1>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>Department Name</th>
							<th>Department Head</th>
							<th>Department Phone</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="d :${dList}">
							<td>[[${d.dept_name}]]</td>
							<td>[[${d.dept_head}]]</td>
							<td>[[${d.dept_phone}]]</td>
							<td>
							<a th:href="@{/dept/edit(id=${d.id})}"><input type="Submit" value="Edit" class="btn btn-success"></a> 
							<a th:href="@{/dept/delete(id=${d.id})}"><input type="submit" value="Delete" class="btn btn-danger"></a>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-center">Copyright@2023</div>
		</div>
	</div>

</body>
</html>