<!DOCTYPE html >
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee List</title>
</head>
<body>
	<th:bock th:insert="Header.html"></th:bock>
	<div class="container_fluid">
		<div class="card">
			<div class="card-header">
				<h1>Employee List</h1>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Gender</th>
							<th>Age</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Post</th>
							<th>Date Of Birth</th>
							<th>Company</th>
							<th>Joined Date</th>
							<th>Salary</th>
							<th>Country</th>
							<th>City</th>
							<th>State</th>
							<th>Zip Code</th>
							<th>Department</th>
							<th>Projects</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="e :${empList}">
							<td>[[${}]]</td>
							<td>[[${}]]</td>
							<td>[[${}]]</td>
							<td><a th:href="@{/dept/edit(id=${d.id})}"><input
									type="Submit" value="Edit" class="btn btn-success"></a> <a
								th:href="@{/dept/delete(id=${d.id})}"><input type="submit"
									value="Delete" class="btn btn-danger"></a>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer text-center">Copyright@2023</div>
		</div>
	</div>


</body>
</html>